.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

/*! CSS Used from: https://tempusdominus.github.io/bootstrap-4/theme/css/tempusdominus-bootstrap-4.css */
.timepicker .btn[data-action="incrementHours"]::after, .timepicker .btn[data-action="incrementMinutes"]::after, .timepicker .btn[data-action="decrementHours"]::after, .timepicker .btn[data-action="decrementMinutes"]::after, .timepicker .btn[data-action="togglePeriod"]::after, .timepicker .picker-switch::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.timepicker {
    list-style: none;
    margin: 10px 0 10px 0;
    direction: ltr;
}

    .timepicker.dropdown-menu {
        display: block;
        margin: 2px 0;
        padding: 4px;
        /* width:14rem; */
        position: relative;
    }

        .timepicker.dropdown-menu:before, .timepicker.dropdown-menu:after {
            content: '';
            display: inline-block;
            position: absolute;
        }

    .timepicker .list-unstyled {
        margin: 0;
    }

    .timepicker a[data-action]:active {
        box-shadow: none;
    }

    .timepicker .timepicker-hour, .timepicker .timepicker-minute {
        width: 54px;
        font-weight: bold;
        font-size: 1.2em;
        margin: 0;
    }

    .timepicker .btn[data-action="incrementHours"]::after {
        content: "Increment Hours";
    }

    .timepicker .btn[data-action="incrementMinutes"]::after {
        content: "Increment Minutes";
    }

    .timepicker .btn[data-action="decrementHours"]::after {
        content: "Decrement Hours";
    }

    .timepicker .btn[data-action="decrementMinutes"]::after {
        content: "Decrement Minutes";
    }

    .timepicker .btn[data-action="togglePeriod"]::after {
        content: "Toggle AM/PM";
    }

    .timepicker .picker-switch {
        text-align: center;
    }

        .timepicker .picker-switch::after {
            content: "Toggle Date and Time Screens";
        }

    .timepicker table {
        display: table;
        margin: 10px auto;
    }

        .timepicker table td {
            text-align: center;
            border-radius: 0.25rem;
        }

        .timepicker table td {
            /* height: 54px;
    line-height: 54px; */
            width: 25px;
        }

            .timepicker table td.separator {
                font-weight: bold;
            }

            .timepicker table td.hour:hover, .timepicker table td.minute:hover {
                background: #e9ecef;
                cursor: pointer;
            }

.btn.btn-primary.timepicker-period {
    padding: 0.60rem 0.64rem;
}

.timepickerclickable {
    cursor: pointer;
    padding: 5px !important;
    border: none;
}

    .timepickerclickable.timepicker-period {
        /* width: 30px; */
        padding: 4px 0 4px 0;
        background-color: #0E8A8A;
        color: #fff;
        border: none;
        -webkit-border-radius: 0.25em;
        font-weight: bold;
        margin: 0.25em;
    }

    .timepickerclickable.timepicker-period:hover {
            background-color: #0a7777;
        }

    .timepickerclickable.change {
        background: #fff;
    }

    .timepickerclickable.change:hover {
            background: #e9ecef;
        }
/* Popover style */
    .popover-body {
        border: 1px solid #0E8A8A;
    }
    .popover .arrow{
        display: none;
     }
     .bs-popover-auto[x-placement^=bottom],
	 .bs-popover-bottom {
		margin-top: 0px;
	}

/*! CSS Used fontfaces */
@font-face {
    font-family: 'FontAwesome';
    src: url('https://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('https://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot#iefix&v=4.7.0') format('embedded-opentype'), url('https://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
